@import '../../mixins';

.content__wrapper {
	background-color: var(--bg-2);
	padding: 2rem;
    max-height: 524px;
	border-radius: 12px;
    overflow-y: auto;
    
    &::-webkit-scrollbar{
        width: 15px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--gray-2);
        border-radius: 10px;
    }

	@include smallDeviceSize {
		padding: 1.5rem;
	}
}
.emptyText {
	// display: inline-block;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--black-2);
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: var(--gray-2);
	width: max-content;
	height: auto;
}
