@import './mixins';

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	display: inline-block;
	width: 100%;
	font-family: 'Poppins';
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
	@include smallDeviceSize {
		font-size: 3rem;
	}
}

.app__wrapper {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}

.content__wrapper {
	background-color: var(--bg-2);
	padding: 2rem;
	border-radius: 12px;
	@include smallDeviceSize {
		padding: 1.5rem;
	}
}
.emptyText {
	// display: inline-block;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--black-2);
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: var(--gray-2);
	width: max-content;
	height: auto;
}
